#title {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  
p {
    font-size: 2em;
    text-align: center;
}

.buttonChoice {
    margin: 0 10px 0 50px;
}

/* button {
   text-align: center;
} */

h3 {
    text-align: center;
}